* {
  margin: 0;
  padding: 0;
}

.wrapper {
  background-color: #000000;
}

.counter {
  position: relative;
  background-image: url(../img/Frame4.png);
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.counter__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.counter__button h1 {
  color: #FFF;
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.counter__button button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 63px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border-radius: 60px;
  background: #00FF47;
  color: #000;
  font-family: News701 BT;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
}
.counter__modal {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 56.5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
  border-radius: 20px;
  background: rgba(62, 248, 245, 0.3);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.counter__modal__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.counter__modal__content h2 {
  color: #FFF;
  font-family: Stardos Stencil;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.counter__modal__content__counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.counter__modal__content__counter h3 {
  color: #FFF;
  font-family: Stardos Stencil;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.counter__modal__content__counter__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 22px;
}
.counter__modal__content__counter__button button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border-radius: 60px;
  border: 1px solid #FFF;
  background-color: transparent;
  color: #FFF;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.counter__modal__content__counter__button button:hover {
  background-color: #9cffb8;
  color: #000000;
  border: #9CFFB8;
}
.counter__modal__content__counter .closeModal {
  padding: 5px 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border-radius: 60px;
  background: #00FF47;
  border: none;
  color: #000;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}